{% extends "master.html" %}
{%block content%}

    <title>Wrong address </title>
<body>
    <h1>Opppss! </h1>
    <h2>Page not found</h2>
    <h2>Error 404</h2>
    <h3> >:c </h3>
    <div class="tenor-gif-embed" data-postid="17771789" data-share-method="host" data-aspect-ratio="1.01587" data-width="30%">
    <a href="https://tenor.com/view/bonk-cheems-hammer-hit-head-doge-gif-17771789">Bonk Cheems Sticker</a> from
    <a href="https://tenor.com/search/bonk-stickers">Bonk Stickers</a>
</div>
<script type="text/javascript" async src="https://tenor.com/embed.js"></script>
</body>

{%endblock%}