{% extends "master.html" %}

{% block title %}
    ProGol Watch
{% endblock %}

{% block content %}
    <h1 class="text-center display-4">Bienvenido a ProGol Watch</h1>
    <div class="d-flex justify-content-center my-3">
    <div class="tenor-gif-embed" data-postid="13330277" data-share-method="host" data-aspect-ratio="1" data-width="30%"><a href="https://tenor.com/view/cat-hack-the-planet-workaholic-gif-13330277">Cat Hack GIF</a>from <a href="https://tenor.com/search/cat-gifs">Cat GIFs</a></div> <script type="text/javascript" async src="https://tenor.com/embed.js"></script>    </div>
    <div class="d-flex justify-content-center my-3">
        <p>Visita los <a href="users/" class="btn btn-primary">canales</a> de nuestros usuarios!</p>
    </div>
{% endblock %}
